@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Source+Sans+Pro:ital,wght@1,200&display=swap");


div #content{
    max-width: 1600px;
    margin:0 auto;
}
nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Abyssinica SIL',serif;
}
#hero-msg, #hero-msg{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #05668d;
}
nav{
    background-color: #ec981a;
    color: white;
    text-align: center;
    line-height: 3em;
    font-size: 1.2em;
}
nav a:hover{
    background-color: #9FD356;
    color: white;
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
}
header{
    background-color: #ec981a;
}
body{
    background-color: #50b0d6;
    margin: 0;
    padding: 0;
}
.book, .join{
    background-color: #05668d;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.book:hover, .join:hover{
    background-color: #9FD356;
    color: white;
}
#background{
    background-color: #05668d;
}
.msg{
    background-color: #ec981a;
    line-height: 2em;
}
footer{
    background-color: #ec981a;
    font-size: 1.2em;
    font-family:'Abyssinica SIL', 'Verdana',sans-serif;
    text-align: center;
    text-decoration: none;
}
h2{
    font-family: 'Abyssinica SIL', 'Verdana',sans-serif;
    margin: 0;
}
.icon{
    width: 80px;
}
.logo{
    width: 170px;
}
.hero-box{
    width: 80px;
    text-align: center;
}
footer p a:hover{
    text-decoration: underline;
    background-color:#9FD356;
    color: white;
}
footer p a{
    text-decoration: none;
    color: black;
}
#hero-img{
    width: 100%;
}
.msg p{
    font-family: 'Source Sans Pro:ital', 'Helvetica',sans-serif;
    font-size: 1.5em;
}
.home-title{
    font-size: 4em;
}
h4, h2{
    font-size: 2em;
}