@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Open+Sans:wght@300&display=swap');


h1{
    background-color: rgba(226, 211, 211, 0.466);
    text-indent: 300px;
    font-family: 'Abyssinica SIL',sans-serif;
    padding: 60px;
}
nav{
    background-color: rgb(52, 104, 216);
    text-align: center;
    padding: 40px;
    font-size: 1.5em;
    justify-content: space-around;
    display: flex;
}
a{
    color: white;
    font-family: 'Abyssinica SIL',sans-serif;
}
a:hover{
    background-color: white;
    color: rgb(137, 168, 235);
    padding: 10px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    text-decoration-style: solid;
    padding: 10px;
}
