@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Open+Sans:wght@300&display=swap');

html{
    margin: 50px;
}
h1{
    background-color: rgba(226, 211, 211, 0.466);
    align-items:center;
    text-align: center;
    font-family: 'Abyssinica SIL',sans-serif;
    padding: 50px;
}
nav{
    background-color: rgb(52, 104, 216);
    text-align: center;
    padding: 20px;
    font-size: x-large;
}
a{
    color: white;
    font-family: 'Abyssinica SIL',sans-serif;
}
a:hover{
    background-color: white;
    color: rgb(137, 168, 235);
    padding: 13px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    text-decoration-style: solid;
    padding: 10px;
}
h2{
    text-align: center;
}
main{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.parag:hover:hover{
    background-color:rgb(52, 104, 216) ;
    color:white;
    text-decoration: solid;
    font-size: x-large;
}